<%- include("./partials/header.ejs") -%>
<div class="container">
  <div class="form-Container">
    <div class="form-title">
      <h1>Update Student</h1>
    </div>

    <form method="post" action="/student/update/<%= editStudentDoc._id %>">
      <label for="name">Name *</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Name"
        value="<%= editStudentDoc.name %>"
        required
      />
      <label for="age">Age *</label>
      <input
        type="text"
        name="age"
        id="age"
        placeholder="Age"
        value="<%= editStudentDoc.age %>"
        required
      />
      <label for="fee">Fee *</label>
      <input
        type="text"
        name="fee"
        id="fee"
        placeholder="Fee"
        value="<%= editStudentDoc.fee %>"
        required
      />

      <div>
        <button type="submit">Update</button>
        <span><a href="/student">Back To Home</a></span>
      </div>
    </form>
  </div>
</div>
<%- include("./partials/footer.ejs") -%>
