<%- include("./partials/header.ejs") -%>
<div class="container">
  <div class="form-Container">
    <div class="form-title">
      <h1>Add New Student</h1>
    </div>

    <form method="post">
      <label for="name">Name *</label>
      <input type="text" name="name" id="name" placeholder="Name" required />
      <label for="age">Age *</label>
      <input type="text" name="age" id="age" placeholder="Age" required />
      <label for="fee">Fee *</label>
      <input type="text" name="fee" id="fee" placeholder="Fee" required />

      <button type="submit">Add</button>
    </form>
  </div>

  <div class="form-Container">
    <div class="list-title">
      <h1>List of Students</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th>S/No</th>
          <th>Name</th>
          <th>Age</th>
          <th>Fee</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% getStudentData.forEach((data, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <!-- Dynamic S/No -->
          <td><%= data.name %></td>
          <td><%= data.age %></td>
          <td><%= data.fee %></td>
          <td>
            <div class="tableBtn">
              <form action="/student/edit/<%= data._id %>" method="get">
                <button>Edit</button>
              </form>
              <form action="/student/delete/<%= data._id %>" method="post">
                <button>Delete</button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include("./partials/footer.ejs") -%>
